<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @student.number %>
</p>


<ol>
  <strong>Sections:</strong>
  <% @student.sections.each do |section| %>
    <li><%= section.number %></li>
  <% end %>
</ol>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
